@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  --primary-orange-color: #E9AA52;
  --primary-red-color: #F15D51;
  --offwhite-color: #FFFDFA;
  --silver-color: #C5C6CE;
  --gunmetal-color: #5E607A;
  --dark-blue: #00001A;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--offwhite-color);
  color: var(--dark-blue);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  margin: 28px;
}

.sidemenu-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32vw 68vw;
      grid-template-columns: 32vw 68vw;
  position: fixed;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 28px 0;
}

.overlay {
  background-color: var(--dark-blue);
  position: absolute;
  opacity: 0.5;
  top: -28px;
  width: 39.5vw;
  left: -28px;
  height: 100vh;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px;
  z-index: 3;
}

.hamburger__box {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: var(--dark-blue);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: background-color .3s .1s ease-in-out;
  transition: background-color .3s .1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: var(--dark-blue);
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.overlay--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menulist-mobile {
  background-color: var(--offwhite-color);
  height: 100vh;
  list-style-type: none;
  padding: 144px 24px;
  position: absolute;
  right: 0;
  top: 0;
  width: 68vw;
  -webkit-transform: translateX(256px);
          transform: translateX(256px);
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
  z-index: 2;
}

.menulist-mobile .menulist-mobile__item {
  margin-bottom: 24px;
}

.menulist-mobile .menulist-mobile__item:last-of-type {
  margin-bottom: 0;
}

.menulist-mobile .menulist-mobile__link {
  color: var(--dark-blue);
  text-decoration: none;
}

.menulist-mobile--active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.menulist-desktop {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .news__title {
  color: var(--dark-blue);
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 40px;
}

.news .news__content {
  margin: 16px 0;
}

.news .news__button {
  background-color: var(--primary-red-color);
  border: 1px solid var(--primary-red-color);
  color: var(--offwhite-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4.38px;
  line-height: 24px;
  padding: 13px 31px;
  text-transform: uppercase;
}

.news .news__button:hover {
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

.topnews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.topnews .topnews__link {
  color: var(--dark-blue);
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.topnews .topnews__link:hover {
  color: var(--primary-red-color);
}

.side {
  background-color: var(--dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 64px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 24px 21px 0 24px;
}

.side .side__title {
  color: var(--primary-orange-color);
  display: block;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 27px;
}

.sideblock {
  border-bottom: 1px solid var(--silver-color);
  margin-bottom: 31px;
}

.sideblock .sideblock__title {
  color: var(--offwhite-color);
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  margin: 8px 0;
}

.sideblock .sideblock__link {
  color: var(--offwhite-color);
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.sideblock .sideblock__link:hover {
  color: var(--primary-orange-color);
}

.sideblock__paragraph {
  color: var(--silver-color);
  padding-bottom: 29px;
}

.sideblock:last-of-type {
  border: none;
  margin-bottom: 0;
}

.image-container {
  width: 31%;
}

.news-container {
  width: 85%;
  padding-left: 24px;
}

.topnews {
  margin-top: 64px;
}

.topnews .topnews__number {
  color: var(--silver-color);
  font-size: 32px;
  font-weight: 700;
}

.topnews .topnews__title {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.topnews .topnews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.topnews .topnews__item:last-of-type {
  margin-bottom: 80px;
}

.topnews .topnews__thumb {
  width: 100%;
}

.attribution {
  text-align: center;
  font-size: 11px;
  color: var(--gunmetal-color);
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.attribution a {
  color: var(--dark-blue);
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 89px 165px;
  }
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% 34%;
        grid-template-columns: 66% 34%;
  }
  .header {
    margin-bottom: 52px;
  }
  .hamburger,
  .menulist-mobile,
  .overlay {
    display: none;
  }
  .menulist-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .menulist-desktop .menulist-desktop__item {
    margin-right: 40px;
  }
  .menulist-desktop .menulist-desktop__item:last-of-type {
    margin-right: 0;
  }
  .menulist-desktop .menulist-desktop__link {
    color: var(--dark-blue);
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
  }
  .menulist-desktop .menulist-desktop__link:hover {
    color: var(--primary-red-color);
  }
  .news .news__image {
    padding-right: 30px;
  }
  .news .news__title {
    font-size: 56px;
    line-height: 56px;
  }
  .news-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    padding-right: 30px;
  }
  .side {
    margin-top: 0;
  }
  .topnews {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 28px;
    padding-right: 28px;
    width: 96vw;
  }
}
/*# sourceMappingURL=style.css.map */