@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --primary-orange-color: #E9AA52;
    --primary-red-color: #F15D51;
    --offwhite-color: #FFFDFA;
    --silver-color: #C5C6CE;
    --gunmetal-color: #5E607A;
    --dark-blue: #00001A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--offwhite-color);
    color: var(--dark-blue);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin: 28px;
}

.sidemenu-container {
    display: grid;
    grid-template-columns: 32vw 68vw;
    position: fixed;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 28px 0;
}

.overlay {
    background-color: var(--dark-blue);
    position: absolute;
    opacity: 0.5;
    top: -28px;
    width: 39.5vw;
    left: -28px;
    height: 100vh;

    transform: translateX(-50vw);
    transition: transform .3s .1s ease-in-out;
}

.hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 10px;
    z-index: 3;
}

.hamburger__box {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 40px;
}

@mixin hamburger-line {
    width: 100%;
    height: 3px;
    background-color: var(--dark-blue);
    position: absolute;
}

.hamburger__inner {
    @include hamburger-line();

    left: 0;
    top: 50%;
    transform: translate(-50%);
    transition: background-color .3s .1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    @include hamburger-line();

    content: '';
    left: 0;
    transition: transform .3s .1s ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg);
}

.overlay--active {
    transform: translateX(0);
}

.menulist-mobile {
    background-color: var(--offwhite-color);
    height: 100vh;
    list-style-type: none;
    padding: 144px 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 68vw;
    transform: translateX(256px);
    transition: transform .3s .1s ease-in-out;
    z-index: 2;

    & &__item {
        margin-bottom: 24px;
    }

    & &__item:last-of-type {
        margin-bottom: 0;
    }

    & &__link {
        color: var(--dark-blue);
        text-decoration: none;
    }
}

.menulist-mobile--active {
    transform: translateX(0px);
}

.menulist-desktop {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.news {

    & &__title {
        color: var(--dark-blue);
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 0px;
        line-height: 40px;
    }

    & &__content {
        margin: 16px 0;
    }

    & &__button {
        background-color: var(--primary-red-color);
        border: 1px solid var(--primary-red-color);
        color: var(--offwhite-color);
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 4.38px;
        line-height: 24px;
        padding: 13px 31px;
        text-transform: uppercase;
    }

    & &__button:hover {
        background-color: var(--dark-blue);
        border: 1px solid var(--dark-blue);
    }
}

.topnews {
    display: flex;
    flex-direction: column;
    order: 3;

    & &__link {
        color: var(--dark-blue);
        text-decoration: none;
        transition: color .2s ease-in-out;
    }

    & &__link:hover {
        color: var(--primary-red-color);
    }
}

.side {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    order: 2;
    padding: 24px 21px 0 24px;

    & &__title {
        color: var(--primary-orange-color);
        display: block;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 27px;
    }
}

.sideblock {
    border-bottom: 1px solid var(--silver-color);
    margin-bottom: 31px;

    & &__title {
        color: var(--offwhite-color);
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        margin: 8px 0;
    }

    & &__link {
        color: var(--offwhite-color);
        text-decoration: none;
        transition: color .2s ease-in-out;
    }

    & &__link:hover {
        color: var(--primary-orange-color);
    }

    &__paragraph {
        color: var(--silver-color);
        padding-bottom: 29px;
    }
}

.sideblock:last-of-type {
    border: none;
    margin-bottom: 0;
}

.image-container {
    width: 31%;
}

.news-container {
    width: 85%;
    padding-left: 24px;
}

.topnews {
    margin-top: 64px;

    & &__number {
        color: var(--silver-color);
        font-size: 32px;
        font-weight: 700;
    }

    & &__title {
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
    }

    & &__item {
        display: flex;
        margin-bottom: 32px;
    }

    & &__item:last-of-type {
        margin-bottom: 80px;
    }

    & &__thumb {
        width: 100%;
    }
}

.attribution {
    text-align: center;
    font-size: 11px;
    color: var(--gunmetal-color);
    transition: color .2s ease-in-out;
}

.attribution a {
    color: var(--dark-blue);
    font-weight: 700;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    body {
        margin: 89px 165px;
    }

    .main {
        display: grid;
        grid-template-columns: 66% 34%;
    }

    .header {
        margin-bottom: 52px;
    }

    .hamburger,
    .menulist-mobile,
    .overlay {
        display: none;
    }

    .menulist-desktop {
        display: flex;
        list-style-type: none;

        & &__item {
            margin-right: 40px;
        }

        & &__item:last-of-type {
            margin-right: 0;
        }

        & &__link {
            color: var(--dark-blue);
            text-decoration: none;
            transition: color .2s ease-in-out;
        }

        & &__link:hover {
            color: var(--primary-red-color);
        }
    }

    .news {
        & &__image {
            padding-right: 30px;
        }

        & &__title {
            font-size: 56px;
            line-height: 56px;
        }
    }

    .news-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-right: 30px;
        margin-top: 28px;
    }

    .side {
        margin-top: 0;
    }

    .topnews {
        flex-direction: row;
        padding-right: 28px;
        width: 96vw;
    }
}